<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" />
    </ion-buttons>
    <ion-title>
      <div class="flex flex-col items-center justify-center">
        <div class="block leading-6">My Todos</div>
        <ion-text class="!text-xs text-neutral-600">{{ weekRangeLabel }}</ion-text>
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button mode="ios" fill="clear" (click)="getCurrentWeek()">
        <ion-icon name="today" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div [ngStyle]="{'background-color': 'var(--ion-color-light)'}" class="ion-padding-bottom">
    <app-simple-calendar (weekRangeLabel)="getWeekRangeLabel($event)" (weekDataResult)="getWeekDataResult($event)" (dayClicked)="onDayClicked($event)"></app-simple-calendar>
  </div>
</ion-header>

<ion-content color="light">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  @if (todos$ | async; as todos) {
    @if (todos.isLoading) {
      <div class="h-full flex flex-col items-center justify-center">
        <ion-spinner name="dots" class="w-24"></ion-spinner>
        <div class="block text-center mt-4">
          <span class="text-gray-500">Loading todos...</span>
        </div>
      </div>
    } @else {
      @if (todos.data.length > 0) {
        <ion-list lines="full" color="light" [ngStyle]="{'--ion-item-background': 'var(--ion-color-light)'}">
          @for (item of todos.data; track item; let last = $last) {
            <ion-item color="light" [lines]="last ? 'none' : 'full'">
              <ion-checkbox 
                slot="start" 
                [value]="item.id" 
                justify="start" 
                labelPlacement="end" 
                [checked]="item.is_completed"
                [color]="item.is_completed ? 'success' : 'primary'"
                (ionChange)="onCheckboxChange(item)"
              >
                <ion-label class="ion-text-wrap">
                  <ion-text [ngClass]="{'line-through': item.is_completed}">{{ item.title }}</ion-text>
                  <p class="!text-neutral-600">{{ item.created_at | date: 'short' }}</p>
                </ion-label>
              </ion-checkbox>
            </ion-item>
          }
        </ion-list>
      } @else {
        <div class="ion-padding text-center">
          <span class="text-gray-500">No todos available for this week.</span>
        </div>
      }
    }
  }

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)" [disabled]="!haveMoreData">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
  
<ion-fab slot="fixed" vertical="bottom" horizontal="center" class="ml-auto mr-auto">
  <ion-fab-button (click)="onAddTodo()" size="small" color="secondary">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>