<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" />
    </ion-buttons>
    <ion-title>Essay Quiz</ion-title>
    @if (!isAnswered() && currentQuestion()) {
      <ion-button 
        slot="end"
        mode="ios" 
        shape="round" 
        size="small"
        color="secondary"
        class="ion-margin-end"
        (click)="submitQuiz()" 
        [disabled]="!(totalAnswered() == questions().length)"
      >
        <ion-text>Submit</ion-text>
      </ion-button>
    }
  </ion-toolbar>

  @if (isQuizGenerating$ | async; as state) {
    @if (state.status == 'generated') {
      <div 
        class="flex gap-2 items-center justify-space-around px-2 ion-padding-bottom ion-padding-top" 
        [ngStyle]="{
          'justify-content': 'space-around',
          'background-color': 'var(--ion-color-light)',
        }"
      >
        <div class="flex-none" [ngStyle]="{ 'width': '70px' }">
          <ion-button mode="ios" expand="block" shape="round" color="light" size="small" (click)="previousQuestion()" [disabled]="!canGoPrevious()">
            <ion-icon name="chevron-back" slot="start"></ion-icon>
            <ion-text>Prev</ion-text>
          </ion-button>
        </div>

        <div class="grid grid-cols-5 gap-2">
          @for (page of pageNumbers(); track page) {
            <div class="block flex justify-center">
              <div 
                class="w-6 h-6 flex items-center justify-center rounded-full text-sm font-semibold cursor-pointer"
                [ngClass]="{
                  'bg-neutral-500': currentQuestionIndex() + 1 === page,
                  'bg-lime-500': userAnswers()[page - 1] && userAnswers()[page - 1] !== '',
                  'text-white': currentQuestionIndex() + 1 === page,
                }"
                (click)="goToQuestion(page - 1)"
              >
                {{ page }}
              </div>
            </div>
          }
        </div>

        <div class="flex-none" [ngStyle]="{ 'width': '70px' }">
          <ion-button mode="ios" expand="block" shape="round" color="light" size="small" (click)="nextQuestion()" [disabled]="!canProceed()">
            <ion-text>Next</ion-text>
            <ion-icon name="chevron-forward" slot="end"></ion-icon>
          </ion-button>
        </div>
      </div>
    }
  }
</ion-header>

<ion-content color="light" class="ion-padding">
  @if (isQuizGenerating$ | async; as state) {
    @if (state.status == 'generating') {
      <div class="h-full flex flex-col items-center justify-center">
        <ion-spinner name="dots" class="w-24"></ion-spinner>
        <div class="block text-center mt-4">
          <span class="text-gray-500">Generating quiz... Please wait</span>
        </div>
      </div>
    } @else if (state.status == 'generated') {
      <!-- Quiz Card -->
      <div class="block">
        <ion-card mode="ios">
          <ion-card-content>
            <!-- Question Section -->
            <div class="text-lg text-gray-800">
              {{ currentQuestion().content_text }}
            </div>

            <!-- Options Section -->
            <div class="p-0 space-y-4 ion-padding-top">
              <div class="space-y-3">
                <div class="flex items-center">
                  <div class="block text-sm text-neutral-600">
                    Your answer:
                  </div>

                  @if (currentQuestion().answers?.[0]?.points != null) {
                    <span class="bg-lime-100 text-lime-800 px-2 py-1 rounded-full text-sm font-bold ml-2">
                      {{ currentQuestion().answers?.[0]?.points }} points
                    </span>
                  }
                </div>

                @if (currentQuestion().answers?.length) {
                  <div class="text-lg text-neutral-800">
                    {{ currentQuestion().answers?.[0]?.content }}
                  </div>
                } @else {
                  <ion-textarea 
                    placeholder="Type your answer here..." 
                    [(ngModel)]="answerValue"
                    [autoGrow]="true"
                    [counter]="true"
                    [maxlength]="500"
                    (ionInput)="onAnswerChange($event)"
                    rows="3"
                  ></ion-textarea>
                }
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    }
  }
</ion-content>
