<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" />
    </ion-buttons>
    <ion-title>
      <div class="flex flex-col items-center justify-center">
        <div class="block leading-6">Learns</div>
        <ion-text class="!text-xs text-neutral-600">{{ weekRangeLabel }}</ion-text>
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button mode="ios" fill="clear" (click)="getCurrentWeek()">
        <ion-icon name="today" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div [ngStyle]="{'background-color': 'var(--ion-color-light)'}" class="ion-padding-bottom">
    <app-simple-calendar (weekRangeLabel)="getWeekRangeLabel($event)" (weekDataResult)="getWeekDataResult($event)" (dayClicked)="onDayClicked($event)"></app-simple-calendar>
  </div>
</ion-header>

<ion-content color="light">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="ion-padding">
    @if (enrolledLessons$ | async; as enrolled) {
      @if (enrolled.isLoading) {
        <div class="h-full flex flex-col items-center justify-center">
          <ion-spinner name="dots" class="w-24"></ion-spinner>
          <div class="block text-center mt-4">
            <span class="text-gray-500">Waiting magic...</span>
          </div>
        </div>
      } @else {
        @for (item of enrolled.data; track item) {
          <ion-card mode="ios" class="mb-5">
            <ion-card-content>
              <div [innerHTML]="item.lesson.description" class="text-xl block text-neutral-800 whitespace-pre-wrap"></div>
              <div class="mt-2 border-t border-neutral-200 pt-2 text-sm">
                <table>
                  <tr>
                    <td class="w-36">Status</td>
                    <td>: 
                      @if (item.status === 'in_progress') {
                        <span class="inline-flex items-center rounded-full bg-green-100 px-2 py-1 text-xs font-medium text-green-700">In progress</span>
                      } @else if (item.status === 'completed') {
                        <span class="inline-flex items-center rounded-full bg-blue-100 px-2 py-1 text-xs font-medium text-blue-700">Completed</span>
                      } @else if (item.status === 'waiting_answer') {
                        @if (item?.mcq_answers?.length > 0 && item?.essay_answers?.length > 0) {
                          <span class="inline-flex items-center rounded-full bg-lime-100 px-2 py-1 text-xs font-medium text-lime-700">
                            Already Done
                          </span>
                        } @else {
                          <span class="inline-flex items-center rounded-full bg-yellow-100 px-2 py-1 text-xs font-medium text-yellow-700">
                            Waiting quiz completion
                          </span>
                        }
                      } @else if (item.status === 'failed') {
                        <span class="inline-flex items-center rounded-full bg-red-100 px-2 py-1 text-xs font-medium text-red-700">Failed</span>
                      }
                    </td>
                  </tr>

                  <tr>
                    <td class="w-36">Created</td>
                    <td>: {{ item.created_at | date: 'short' }}</td>
                  </tr>

                  <!-- <tr>
                    <td class="w-36">Quiz start on</td>
                    <td>: {{ item.target_completion_datetime | date: 'short' }}</td>
                  </tr> -->

                  <tr>
                    <td class="w-36">Start quiz at</td>
                    <td>: {{ item.start_datetime ? (item.start_datetime | date: 'short') : 'N/A' }}</td>
                  </tr>

                  <tr>
                    <td class="w-36">Duration</td>
                    <td>: {{ item.created_at | timeDifferenceInMinutes: item.target_completion_datetime }} minutes</td>
                  </tr>
                </table>
              </div>

              <div class="mt-4">
                <div class="w-full grid grid-cols-2 gap-3 items-center">
                  <div class="p-2 shadow-sm bg-lime-50 border border-neutral-300 rounded-lg cursor-pointer flex items-center justify-between h-14" (click)="onStartQuiz(item, 'mcq')">
                    <div>
                      <div class="font-bold text-2xl text-green-700 !leading-4 mb-1">
                        {{ item.summary.mcq.success_rate }} <sup class="font-normal !text-sm leading-3">%</sup>
                      </div>
                      <div class="text-sm text-gray-700">
                        @if (item.mcq_answers && item.mcq_answers.length <= 0) {
                          @if (item.summary.mcq.total_questions === 0) {
                            Start MCQ
                          } @else {
                            {{ item.summary.mcq.total_questions }} questions
                          }
                        } @else {
                          {{ item.summary.mcq.correct_answer }} of {{ item.summary.mcq.total_questions }}
                        }
                      </div>
                    </div>

                    <div>
                      <ion-icon name="chevron-forward" slot="end" class="text-gray-500"></ion-icon>
                    </div>
                  </div>

                  <div class="p-2 shadow-sm bg-lime-50 border border-neutral-300 rounded-lg cursor-pointer flex items-center justify-between h-14" (click)="onStartQuiz(item, 'essay')">
                    <div>
                      <div class="font-bold text-2xl text-green-700 !leading-4 mb-1">
                        @if (item.essay_answers?.length > 0 && item.summary.essay.total_points <= 0 ) {
                          <span class="text-base">Scoring...</span>
                        } @else {
                          @if (item.summary.essay.total_points > 0) {
                            {{ item.summary.essay.total_points }}
                            <sup class="font-normal !text-sm leading-3">points</sup>
                          } @else {
                            --
                          }
                        }
                      </div>
                      <div class="text-sm text-gray-700">
                        @if (item.summary.essay.total_questions === 0) {
                          Start Essay
                        } @else {
                          {{ item.summary.essay.total_questions }} essays
                        }
                      </div> 
                    </div>

                    <div>
                      <ion-icon name="chevron-forward" slot="end" class="text-gray-500"></ion-icon>
                    </div>
                  </div>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        }

        @if (enrolled.data.length <= 0) {
          <div class="text-center text-gray-500">
            No lessons found for this  {{ selectedDay ? 'day' : 'week' }}.
          </div>
        }
      }
    } 
  </div>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)" [disabled]="!haveMoreData">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
