<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" />
    </ion-buttons>
    <ion-title>Archive</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light" class="ion-padding">
  @if (enrolledLessons$ | async; as enrolled) {
    @if (enrolled.isLoading) {
      <div class="h-full flex flex-col items-center justify-center">
        <ion-spinner name="dots" class="w-24"></ion-spinner>
        <div class="block text-center mt-4">
          <span class="text-gray-500">Waiting magic...</span>
        </div>
      </div>
    } @else {
      @for (item of enrolled.data; track item) {
        <ion-card mode="ios" class="mb-5">
          <ion-card-content>
            <div [innerHTML]="item.lesson.description" class="text-xl block text-neutral-800"></div>
            <div class="mt-2 border-t border-neutral-200 pt-2 text-sm">
              <table>
                <tr>
                  <td class="w-36">Status</td>
                  <td>: 
                    @if (item.status === 'in_progress') {
                      <span class="inline-flex items-center rounded-full bg-green-100 px-2 py-1 text-xs font-medium text-green-700">In progress</span>
                    } @else if (item.status === 'completed') {
                      <span class="inline-flex items-center rounded-full bg-blue-100 px-2 py-1 text-xs font-medium text-blue-700">Completed</span>
                    } @else if (item.status === 'waiting_answer') {
                      @if (item?.mcq_answers?.length > 0 && item?.essay_answers?.length > 0) {
                        <span class="inline-flex items-center rounded-full bg-lime-100 px-2 py-1 text-xs font-medium text-lime-700">
                          Already Done
                        </span>
                      } @else {
                        <span class="inline-flex items-center rounded-full bg-yellow-100 px-2 py-1 text-xs font-medium text-yellow-700">
                          Waiting quiz completion
                        </span>
                      }
                    } @else if (item.status === 'failed') {
                      <span class="inline-flex items-center rounded-full bg-red-100 px-2 py-1 text-xs font-medium text-red-700">Failed</span>
                    }
                  </td>
                </tr>

                <tr>
                  <td class="w-36">Created</td>
                  <td>: {{ item.start_datetime | date: 'short' }}</td>
                </tr>

                <tr>
                  <td class="w-36">Quiz start on</td>
                  <td>: {{ item.target_completion_datetime | date: 'short' }}</td>
                </tr>

                <tr>
                  <td class="w-36">Actual quiz start at</td>
                  <td>: {{ item.start_datetime | date: 'short' }}</td>
                </tr>

                <tr>
                  <td class="w-36">Duration</td>
                  <td>: {{ item.start_datetime | timeDifferenceInMinutes: item.target_completion_datetime }} minutes</td>
                </tr>
              </table>
            </div>

            <div class="mt-4">
              <div class="w-full grid grid-cols-2 gap-2 items-center">
                @if (item.mcq_answers && item.mcq_answers.length > 0) {
                  <div class="p-2 bg-lime-50 border border-neutral-300 rounded-lg cursor-pointer flex items-center justify-between" (click)="onStartQuiz(item, 'mcq')">
                    <div>
                      <div class="font-bold text-2xl text-green-700 !leading-4 mb-2">{{ item.summary.mcq.success_rate }}%</div>
                      <div class="text-sm text-gray-700">{{ item.summary.mcq.correct_answer }} of {{ item.summary.mcq.total_questions }}</div>
                    </div>

                    <div>
                      <ion-icon name="chevron-forward" slot="end" class="text-gray-500"></ion-icon>
                    </div>
                  </div>
                } @else {
                  <div class="block">
                    <ion-button 
                      mode="ios" 
                      [color]="item.mcq_answers && item.mcq_answers.length > 0 ? 'success' : 'secondary'" 
                      shape="round" 
                      expand="block" 
                      (click)="onStartQuiz(item, 'mcq')"
                      size="small"
                      [ngStyle]="{
                        '--padding-top': '10px',
                        '--padding-bottom': '10px',
                        '--padding-start': '12px',
                        '--padding-end': '12px',
                      }"
                    >
                      MCQ (10)
                    </ion-button>
                  </div>
                }

                @if (item.essay_answers && item.essay_answers.length > 0) {
                  <div class="p-2 bg-lime-50 border border-neutral-300 rounded-lg cursor-pointer flex items-center justify-between" (click)="onStartQuiz(item, 'essay')">
                    <div>
                      <div class="font-bold text-2xl text-green-700 !leading-4 mb-2">{{ item.summary.essay.total_points }}</div>
                      <div class="text-sm text-gray-700">{{ item.summary.essay.total_questions }} essays</div> 
                    </div>

                    <div>
                      <ion-icon name="chevron-forward" slot="end" class="text-gray-500"></ion-icon>
                    </div>
                  </div>
                } @else {
                  <div class="block">
                    <ion-button 
                      mode="ios" 
                      [color]="item.essay_answers && item.essay_answers.length > 0 ? 'success' : 'secondary'" 
                      shape="round" 
                      expand="block" 
                      (click)="onStartQuiz(item, 'essay')"
                      size="small"
                      [ngStyle]="{
                        '--padding-top': '10px',
                        '--padding-bottom': '10px',
                        '--padding-start': '12px',
                        '--padding-end': '12px',
                      }"
                    >
                      Essay (5)
                    </ion-button>
                  </div>
                }
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      }
    }
  } 

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
