<div class="ion-padding bg-white border-2 border-neutral-200 rounded-2xl shadow">
  <div class="grid grid-cols-3 gap-3">
    @for(hour of selectHours; track hour) {
      <ion-button 
        expand="block" 
        mode="ios" 
        shape="round" 
        [fill]="hour === hourSelected ? 'solid' : 'outline'"
        class="hours-select-button"
        (click)="onSelectHour(hour)"
      >
        {{ hour }}
      </ion-button>
    }

    <ion-button 
      expand="block" 
      mode="ios" 
      shape="round" 
      color="secondary"
      [fill]="customHour ? 'solid' : 'outline'"
      class="hours-select-button"
      (click)="onCustomHourSelect()"
    >
      {{ customHour ? customHour : 'Custom' }}
    </ion-button>
  </div>
</div>
