<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/archive"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-lg">{{ quizType == 'mcq' ? 'Multiple Choice Quiz' : 'Essay Quiz' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  @if (enrolled$ | async; as enrolled) {
    @if (enrolled.isLoading) {
      <div class="h-full flex flex-col items-center justify-center">
        <ion-spinner name="dots" class="w-24"></ion-spinner>
        <div class="block text-center mt-4">
          <span class="text-gray-500">Waiting magic...</span>
        </div>
      </div>
    } @else {
      <div class="ion-padding">
        @if (enrolled.data) {
          <!-- <div [innerHTML]="enrolled.data.lessons.description" class="use-playfair text-xl block text-neutral-800 ion-margin-bottom"></div> -->

          @if (quizType === 'mcq') {
            <app-quiz-mcq [data]="enrolled.data"></app-quiz-mcq>
          } @else if (quizType === 'essay') {
            <app-quiz-essay [data]="enrolled.data"></app-quiz-essay>
          }
        }
      </div>
    }
  }
</ion-content>
