<ion-content>
  <div class="h-screen flex flex-col items-center justify-center bg-gray-100">
    <div class="text-center ion-padding">
      <ion-icon name="shield-checkmark" class="text-8xl"></ion-icon>
    </div>

    <div class="text-center ion-padding">
      <h1 class="!font-black !text-5xl">Almost Done!</h1>
    </div>

    @if (user$ | async; as res) {
      @if (res.isLoading === 0) {
        <table>
          <tr>
            <td class="w-16">Email</td>
            <td>: {{ res.user.email }}</td>
          </tr>

          <tr>
            <td class="w-16">Name</td>
            <td>: {{ res.user.user_metadata?.name || 'N/A' }}</td>
          </tr>
        </table>

        <div class="mt-6">
          <ion-button shape="round" mode="ios" [routerLink]="['/']">
            Continue to My Profile
          </ion-button>
        </div>
      } @else if (res.isLoading === 1) {
        <div class="text-center mt-4">
          <ion-spinner name="crescent" class="text-4xl"></ion-spinner>
          <p class="mt-2">Acquiring user information...</p>
        </div>
      }
    }
  </div>
</ion-content>
