<ion-content class="ion-padding" color="light">
  <div class="h-full flex items-center justify-center">
    <ion-textarea 
      mode="ios" 
      class="border-2 border-neutral-200 rounded-xl shadow-lg bg-white px-2"
      [autoGrow]="true"
      rows="6"
      placeholder="What do you want learn today?"
      [(ngModel)]="goalText"
      [counter]="true"
    >
      <ion-button fill="clear" slot="end" class="absolute right-0 bottom-0">
        <ion-icon slot="icon-only" name="eye" aria-hidden="true"></ion-icon>
      </ion-button>
    </ion-textarea>
  </div>
</ion-content>
