<div class="block">
  <app-progress-card 
    [data]="item"
    [startDatetime]="item.created_at | uctToLocalTime" 
    [targetCompletionDatetime]="item.target_completion_datetime | uctToLocalTime"
    (onTimerComplete)="onTimerCompleteListener($event)"
  ></app-progress-card>

  <div class="ion-padding mt-1">
    <div class="bg-white rounded-xl shadow-md p-4 relative">
      <div (click)="openActionSheet(item)" class="block">
        <div 
          class="text-xl font-semibold" 
          [innerHTML]="item.lesson.description"
        ></div>

        <div class="mt-2 mb-4 border-t border-neutral-200 pt-2">
          <table>
            <tr>
              <td class="w-36">Created</td>
              <td>: {{ item.created_at | date: 'short' }}</td>
            </tr>

            <!-- <tr>
              <td class="w-36">Quiz start on</td>
              <td>: {{ item.target_completion_datetime | date: 'short' }}</td>
            </tr> -->

            <tr>
              <td class="w-36">Start quiz at</td>
              <td>: {{ item.start_datetime ? (item.start_datetime | date: 'short') : 'N/A' }}</td>
            </tr>

            <tr>
              <td class="w-36">Duration</td>
              <td>: {{ item.created_at | timeDifferenceInMinutes: item.target_completion_datetime }} minutes</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="flex gap-3 items-center">
        <div>
          <ion-button (click)="openActionSheet(item)" mode="ios" fill="clear">
            <ion-icon name="ellipsis-vertical" slot="icon-only"></ion-icon>
          </ion-button>
        </div>

        <div class="w-full grid grid-cols-2 gap-2 items-center">
          <div class="p-2 shadow-sm bg-lime-50 border border-neutral-300 rounded-lg cursor-pointer flex items-center justify-between h-14" (click)="onStartQuiz(item, 'mcq')">
            <div>
              <div class="font-bold text-lg text-green-700 !leading-4 mb-1">
                {{ item.summary.mcq.success_rate }} <sup class="font-normal !text-sm leading-3">%</sup>
              </div>
              <div class="text-sm text-gray-700 leading-4">
                @if (item.mcq_answers && item.mcq_answers.length <= 0) {
                  @if (item.summary.mcq.total_questions === 0) {
                    Start MCQ
                  } @else {
                    {{ item.summary.mcq.total_questions }} questions
                  }
                } @else {
                  {{ item.summary.mcq.correct_answer }} of {{ item.summary.mcq.total_questions }}
                }
              </div>
            </div>

            <div>
              <ion-icon name="chevron-forward" slot="end" class="text-gray-500"></ion-icon>
            </div>
          </div>

          <div class="p-2 shadow-sm bg-lime-50 border border-neutral-300 rounded-lg cursor-pointer flex items-center justify-between h-14" (click)="onStartQuiz(item, 'essay')">
            <div>
              <div class="font-bold text-lg text-green-700 !leading-4 mb-1">
                @if (item.essay_answers?.length > 0 && item.summary.essay.total_points <= 0 ) {
                  <span class="text-base !leading-4">Scoring...</span>
                } @else {
                  @if (item.summary.essay.total_points > 0) {
                    {{ item.summary.essay.total_points }}
                    <sup class="font-normal !text-sm leading-3">points</sup>
                  } @else {
                    --
                  }
                }
              </div>
              <div class="text-sm text-gray-700 leading-4">
                @if (item.summary.essay.total_questions === 0) {
                  Start Essay
                } @else {
                  {{ item.summary.essay.total_questions }} essays
                }
              </div> 
            </div>

            <div>
              <ion-icon name="chevron-forward" slot="end" class="text-gray-500"></ion-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>